[2017-06-28 14:51] ellemindwave commented on #331
@shouston3 @Danwhy @iteles
As per our conversation at the retrospective, am I to assume that the best thing here would be for this issue to be closed and a new one opened for the ratio/squashing issue?

[2017-06-28 15:00] shouston3 commented on #331
That would be great thanks @ellemindwave

[2017-06-28 16:12] ellemindwave opened #433 "Implementation of new UI design"
Implementation of new UI designs at the start of Beta phase (w/c 3rd July)

[2017-06-28 21:00] shouston3 opened #434 "Site went down"
Earlier today when deploying to production the live site went down for a few hours.

We are fairly sure that this is a result of our queries operating over a much larger data set than before (the now much larger set of resources with many tags), the tables generated from doing multiple `full_join`s becoming very large and the database request either crashing or timing out (it was taking longer tha

[2017-06-28 21:11] shouston3 opened #435 "Site crashing with wrong links"
When a link doesn't work it can bring down the homepage view

This can be replicated by adding in a link which doesn't exist in **any** of the resources

We should ensure that requests for links which don't exist fail gracefully

[2017-06-28 21:14] shouston3 opened #436 "Script for checking links exist"
We should write a script which can get the raw html from the homepage, then send subsequent requests to all links on the homepage, then all links inside those and ensure that they all return non 40* or 50* status codes.

When we find these wrong status codes we should ensure that these links will be found correctly and that links can't be broken from the wagtail side.

At the moment we manually te

[2017-06-28 21:44] Danwhy commented on #434
The real issue is with [this line](https://github.com/LDMW/app/blob/master/web/controllers/resources.ex#L176) and the one below it. These functions are being called on each resource, and making a query to get all the tags/likes for that resource. On the live site, that means over 200 queries are being made just to get the homepage.

The answer is to either perform a more complicated query in the f

[2017-06-29 09:10] reddog commented on #434
Thanks @Danwhy  & @shouston3 for bringing this to everyone's attention.

The live site is currently listing "22 resources about wellbeing" as is the staging site.  Does this mean that the live site is still looking at the staging database?

**I would suggest that this is probably quite a high priority issue, particularly in light of the next Brighton demo which happens tomorrow with further key st

[2017-06-29 10:28] iteles commented on #434
@reddog and team, we're looking into this now.

[2017-06-29 10:37] reddog commented on #434
@iteles Thanks for the update

[2017-06-29 11:26] reddog commented on #434
@Cleop Which resolution path are you guys currently looking at?  Fixing up the release to use the live database or rolling back?  (or something else)?

Thanks.

[2017-06-29 12:29] Cleop commented on #434
The site is now live again and loading the production database.

This was achieved by reversing changes to the query whilst retaining all other changes in this sprint regarding new features.

Still an issue is the missing body content for the production resources. For the time being, the body content for the staging resources has been added to those resources that exist in production. We are worki

[2017-06-29 12:34] reddog commented on #434
Thanks for the update @Cleop.

Can you expand on "missing body content".  Is this information that's in the production database but work has to be done to retrieve it in an different way (because previous code was broken/inappropriate maybe)?  Or has data been (at least for the moment) lost from the production database?

[2017-06-29 12:47] Cleop opened #437 "Wagtail Production Resources: missing body content"
<img src="https://user-images.githubusercontent.com/16775804/27687987-da3e004e-5cd0-11e7-9380-d5f4fdc8801e.png" width=500px />

Currently investigating locating and updating/reapplying this missing content.

Relates #434

[2017-06-29 13:44] reddog commented on #437
@Cleop Thanks for ensuring this get addressed.

I'm still not 100% on when new issues should be created - I'm not clear if this is a continuation of #434 or a totally new issue.

When new issues are spun out (as in this case), who should move comments over from previous issues in order to ensure the conversation thread is not lost?  See https://github.com/LDMW/app/issues/434#issuecomment-311952888

[2017-06-29 13:50] Cleop commented on #437
@reddog

I would recommend simply popping a line saying: 'relates #434' on this issue so that people can follow the link should they wish. However, the best way to tell whether an issue should be a new one or a continuation is to look at the title of it. The title of #434 was that the site was 'down' (the production database was not loading), this issue (#437) is addressing missing content from th

[2017-06-29 13:56] reddog commented on #437
Thanks for clarifying @Cleop  As my comment on #434 was before it was un-"in-progress"ed and the new issue #437 opened, I'm wondering if everyone realises this extra work should be done (to move comments over)?

And just to clarify, would be able to reply on my comment so that we're all aware if this is lost data, retrievable data or data someone has to re-input, or "lost" due to further code chan

[2017-06-29 14:07] Cleop commented on #437
@reddog We have the old data and are currently restoring it. At the time of your question we were still diagnosing the issue and I didn't want to misinform you.

It was me who changed the `in-progress` label and created this issue, I did them one immediately after the other because as soon as I realised that the lost body content was independent of getting the production database loading again (wh

[2017-06-29 14:09] reddog commented on #437
@Cleop Thanks very much for that.

[2017-06-29 14:31] Cleop commented on #437
All data has been restored, ready for testing.

[2017-06-29 14:35] Cleop commented on #434
The site is now running with the production database data. This data is complete as covered by #437.

Now focussing on revising processes to safeguard for the future.

[2017-06-29 14:52] reddog commented on #434
Thanks @Danwhy, @shouston3 & @Cleop for getting the live site back up and running.

@Cleop with regard to revising processes, can you please see my "moving forward" comments above?  Would it be useful to do this in the open as a group?  Maybe when you're next in (which is when)?

[2017-06-29 15:09] ellemindwave commented on #324
@Danwhy the share icon alert no longer works - maybe due to the site reverting back to an older version?

[2017-06-29 15:10] #367 closed

[2017-06-29 15:14] #381 closed

[2017-06-29 15:15] #354 closed

[2017-06-29 15:16] #331 closed

[2017-06-29 15:17] #380 closed

[2017-06-29 15:25] ellemindwave commented on #321
@sarahwelton tried to upload a .png but it didn't work, however she managed with a .jpg - might need to look into the supported formats?

[2017-06-29 15:28] #437 closed

[2017-06-29 15:32] #368 closed

[2017-06-29 16:06] ellemindwave opened #439 "Hide video from homepage if there is no video URL"
As a user, I don't want to see a broken video link on the site, as it will make me trust the service less

Acceptance Criteria
- [x] When there is no video URL in the CMS, don't show a broken video / any video
- [x] When there is a video URL, show this on the homepage

[2017-06-29 16:45] #439 closed

[2017-06-30 16:15] Cleop opened #441 "Create an .md file to demonstrate the alpha stage deployment plan"
@reddog enquired about the current deployment plan: https://github.com/LDMW/app/issues/434#issuecomment-311908891

- [x] So that this information is available for reference, create an .md file which details the alpha deployment plan.

[2017-06-30 16:47] iteles commented on #441
:+1:

[2017-06-30 16:47] #441 closed

[2017-06-30 17:03] Cleop commented on #434
@reddog

- **When was the issue discovered? How can we all better support fixing such issues in the future?**
The issue was discovered on Wednesday evening. A deployment brought the site down (no indication that there were any changes to CMS data at this stage) and so the team set about debugging this.
At this stage there was a communication issue within our team as @iteles made the assumption tha

[2017-07-03 08:55] ellemindwave commented on #433
![filter_panel](https://user-images.githubusercontent.com/26304634/27785509-c5051e76-5fd5-11e7-89f8-7c15a7a2814e.png)

[2017-07-03 08:56] ellemindwave commented on #433
![header_image](https://user-images.githubusercontent.com/26304634/27785531-d5b2147c-5fd5-11e7-8fd9-6c263b0c198d.png)

[2017-07-03 08:58] ellemindwave commented on #433
![lm_logo](https://user-images.githubusercontent.com/26304634/27785575-f49e2ec0-5fd5-11e7-83f3-dfb51573424d.png)

[2017-07-03 10:02] Cleop opened #443 "Redesign footer - new colors and alignment"
Desktop:
![image](https://user-images.githubusercontent.com/16775804/27788031-e73f14ca-5fde-11e7-8bef-0e7ce54d88a0.png)
Mobile:
![image](https://user-images.githubusercontent.com/16775804/27788024-e1502c7a-5fde-11e7-8fe2-eafc9a9cae5e.png)
*Note*: the text Terms and Conditions should not read Ts and Cs on mobile.

- [x]  Change footer to navy background with white text
- [x]  Realign the footer lin

[2017-07-03 10:11] katbow opened #444 "Alpha banner to beta banner"
For #433

- [x] Change text for alpha banner to beta banner
- [x] Change button styling for self assessment & get support
    - [x] Remove background colour
    - [x] Update border radius
- [x] On scroll banner will be white.
    * with JS, without JS the banner is always white.

![image](https://user-images.githubusercontent.com/1287388/27790050-c2891a10-5fe6-11e7-9c65-138c40b31b09.png)

[2017-07-03 10:18] Cleop opened #445 "Bottom banners: self-assessment and urgent support design"
**Desktop:**
![image](https://user-images.githubusercontent.com/16775804/27788462-9d58ba30-5fe0-11e7-815e-9c5b7bda008b.png)
**Mobile:**
<img src="https://user-images.githubusercontent.com/16775804/27788470-a6c95098-5fe0-11e7-878c-0346ee9a035c.png" width=400px />

- [x]  Change the bottom banner to white
- [x]  Change the copy of both banners - on staging
- [x]  Left align the text
- [x]  Add an ar

[2017-07-03 10:18] katbow opened #446 "Landing/hero image section"
For #433

- [x] Update to new logo & centre (verify it's updated on all places it's used)
- [x] Change text copy, centre, & increase size (hero title styling)
- [x] Update search bar
    - [x] Make transparent (provided the text can be black. If the text goes grey, make search bar white) #455
    - [x] On focus, border is orange
    - [x] Centre
    - [x] Move search button to below search bar

[2017-07-03 10:32] katbow opened #447 "New section below hero image"
For #433

- [x] Create new section on CMS for adding text in this section
- [x] Style section with white background & user body text

![image](https://user-images.githubusercontent.com/1287388/27790007-91d8872a-5fe6-11e7-9413-129323f50a15.png)

[2017-07-03 10:35] ellemindwave commented on #433
![header_image](https://user-images.githubusercontent.com/26304634/27789228-9ca0607c-5fe3-11e7-81dd-14be6a831a9e.png)

[2017-07-03 10:39] Cleop opened #448 "Change primary button design"
- [x]  Change to dark blue background and white text
- [x]  Make corners less round
**Old design:**
![image](https://user-images.githubusercontent.com/16775804/27789326-0a8f4742-5fe4-11e7-9444-c95aa940c4db.png)
**New design:**
<img src="https://user-images.githubusercontent.com/16775804/27789334-199f7fea-5fe4-11e7-81dc-a7a0395defdc.png" width=120px />

[2017-07-03 10:41] Cleop opened #449 "Hide whatsapp sharing icon on desktop"
- [x]  Hide WhatsApp sharing icon on desktop as WhatsApp is a mobile focussed app.

Time estimate 1 hour in case hiding this causes issues with the alignment/spacing of the remaining icons. Update: no issues with alignment, only took T25m.

[2017-07-03 10:42] Cleop opened #450 "Update the thumbs up/down symbols for bolder versions"
- [ ] Update the thumbs up/down symbols (for recommending a resource) for bolder versions to improve accessibility in blue
- [ ] Update the thumbs up/down symbols (for recommending a resource) for bolder versions to improve accessibility in orange
- [x] Make the 'Would you recommend this?' text bold
- [ ] Rearrange the thumbs up and number order:

**Currently (number - icon - icon - number):**
<im

[2017-07-03 10:55] katbow opened #451 "Search Section"
For #433

- [ ] Change filters styling. Round edges, & remove background
    - [x] Round edges
    - [x] Remove background
    - [x] Change text & border colour
    - [ ] Change from white to blue plus
- [x] Add blurred image background instead of dark blue
- [x] Centre search bar & make full width
- [x] Centre filters on mobile, align left on desktop
- [x] Make search bar transparent (unless text

[2017-07-03 10:57] Cleop opened #452 "Create a new hideable section for Pros/Cons"
**Mobile view:**
<img src="https://user-images.githubusercontent.com/16775804/27789601-14608244-5fe5-11e7-8884-58e9fe113c72.png" width=350px />
**Desktop view:**
<img src="https://user-images.githubusercontent.com/16775804/27789818-ce38cfa0-5fe5-11e7-82d6-dc83fe40c582.png" width=400px />

- [x] Create a new section on Wagtail for pros and a separate new section for cons
- [x] Create a button on ea

[2017-07-03 11:05] Cleop opened #453 "Individual resource styling"
<img src="https://user-images.githubusercontent.com/16775804/27790261-a3a94a2e-5fe7-11e7-8eeb-dccef347c819.png" width=300px />

- [x] Create a dark blue border around the title / link/ tags/ copy section
- [x] Update link styling to underlined & colour
- [x] Update tags to new clickable styling
    - [x] Change background colour to light orange. ND: Shape should be the same as current, assuming ro

[2017-07-03 11:09] katbow opened #454 "Results section"
For #433

- [x] Update tags to new not clickable styling
    - [x] Decrease height
    - [x] Shrink text
    - [x] Change background colour to light orange
- [x] Change "Showing results for" to H2
- [x] Left align filter button & update to secondary white styling
  - [x] Reduce border radius to make less round
  - [x] Change background to white
  - [x] Give blue border
  - [x]  Make text less bold

[2017-07-03 11:11] ellemindwave commented on #433
![filter_panel](https://user-images.githubusercontent.com/26304634/27790527-b7e77e7e-5fe8-11e7-8582-5ddd4fe9ee62.png)

[2017-07-03 11:13] Cleop commented on #63
**Update on designs:**

**Desktop design:**
<img src="https://user-images.githubusercontent.com/16775804/27790495-8d6556c6-5fe8-11e7-9b56-ca47c876b6f6.png" width=240px />
**Mobile design:**
<img src="https://user-images.githubusercontent.com/16775804/27790508-a276a31c-5fe8-11e7-90b4-84f2417985a8.png" width=160px />

Still no update on functionality. @sarahwelton, @indiamindwave24 added this to the

[2017-07-03 11:16] katbow commented on #451
external dependency is for blurred image.

[2017-07-03 11:22] shouston3 commented on #451
@katbow I think the blurred image might be [here](https://github.com/LDMW/app/issues/433#issuecomment-312618346)

[2017-07-03 11:33] ellemindwave commented on #451
Here you go!

![filter_panel](https://user-images.githubusercontent.com/26304634/27791183-bc11a18e-5feb-11e7-81ee-9b50f954d2a2.png)

[2017-07-03 11:45] katbow opened #455 "Mini spike for transparent search"
Research if there is a way to have the search bar less than 100% opacity and *not* have the text affected.

The text needs to be dark blue for accessibility, so if this is not easily possible, then the alternative is to use 100% opacity with the dark blue text.

[2017-07-03 14:26] katbow commented on #455
There is [this SO answer](https://stackoverflow.com/questions/18721382/how-do-you-make-an-input-field-opacity-not-effect-the-text-color-inside-it) to change the css `background-colour` which should not affect the text.

Going to test it out & see if it works well

[2017-07-03 16:32] ellemindwave commented on #63
@Cleop Yes, that's the right understanding. Leave it for now 👍

[2017-07-03 16:58] katbow commented on #455
All done but took slightly longer because I needed to do the set up for cms & app locally before being able to check it out. Worked with background color and allowed the text to remain dark blue 👍

[2017-07-03 16:58] #455 closed

[2017-07-03 17:12] katbow commented on #451
I realised the other asset I'm missing for this is the dark blue plus @ellemindwave

[2017-07-04 09:26] katbow commented on #448
This was done in conjunction with #451 in PR #456

[2017-07-04 11:48] katbow commented on #453
@Cleop what do you mean by:

It looks to me like the shadow is still by the border in the designs, but just doesn't look at obvious since the line from the border is cutting it off.

[2017-07-04 12:54] katbow commented on #454
@Cleop I'm having some trouble with left aligning the filter button. do you know how the hidden menu & filter interact together?

[2017-07-04 15:08] Cleop commented on #453
@katbow, no problem, from a glance thought it wasn't there before but happy to go with it on closer inspection.

[2017-07-04 15:22] Cleop commented on #454
I managed to do it in inspect doing on the div and section it's in rather than the label itself:
<img src="https://user-images.githubusercontent.com/16775804/27835823-8fa2ac3a-60d4-11e7-8361-9c722603407a.png" width=350px />
Looks like:
<img src="https://user-images.githubusercontent.com/16775804/27835835-989319ba-60d4-11e7-9c17-bfe4155d8511.png" width=200px />

You could add a tiny bit of left pad

[2017-07-04 16:45] katbow commented on #454
Ahh yes that managed to do it. I was trying a couple of different things and it was pushing out the filter menu for some reason. Thanks!

[2017-07-04 17:01] katbow commented on #454
Also I checked the guideline & the smaller font was still within the GDS guidelines 👍

[2017-07-05 15:59] Cleop commented on #446
Does not reduce the gap between the title text and the search bar quite as much as in the designs:
**Designs:**
![image](https://user-images.githubusercontent.com/16775804/27873116-db73b0ae-61a2-11e7-80c6-ccf20b3eea9d.png)
**Actual:**
![image](https://user-images.githubusercontent.com/16775804/27873122-e1a5b918-61a2-11e7-88ab-cf6c32210a70.png)
This is because the margin is automatically applied to

[2017-07-05 17:01] Cleop commented on #444
Working on the scrolling part: https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onscroll

[2017-07-06 10:06] #134 closed

[2017-07-06 10:20] ellemindwave commented on #111
Closing this issue, as it is no longer relevant (tips will be styled differently to resources)

[2017-07-06 10:20] #111 closed

[2017-07-06 10:51] katbow commented on #452
Note for the button:
Because it has background blue on hover, in mobile this translates to the button changing & staying blue when clicked. For other buttons, this isn't a problem because it means going to a new link so the page renders again in some way & goes back to the main background colour.

I'm checking for a way around this or looking for alternatives.

[2017-07-06 11:35] katbow commented on #452
Changed the css for hover to only apply to `ns` screen sizes.

[2017-07-06 15:40] sarahwelton opened #464 "Search must include tags"
When a user searches for, for example, "sleep deprivation" - all items tagged with "sleep deprivation" should appear. Currently search is only finding results that have "sleep deprivation" in the summary / pros and cons copy.

Search should find any instance of "sleep deprivation".

[2017-07-06 15:46] #330 closed

[2017-07-07 10:04] Cleop commented on #452
@ellemindwave @sarahwelton - how would you like us to deploy this issue? In order to style the pros and cons to @indiamindwave24's new designs we have had to create 2 new sections on wagtail.

So currently all of the text is in the 'body' section, once deployed the regular text should go in the body section and the pros into the 'pros' section and the cons into the 'cons' section.  However, in ord

[2017-07-07 10:56] ellemindwave commented on #452
@Cleop - I have discussed this with @sarahwelton and this is fine for us.

We currently have an intern, Rania,  who is working with us helping with tags, content etc, so she will be able to help us out with this on Monday morning as this is one of her working days 👍

[2017-07-07 11:03] katbow opened #466 "Video positioning for resources"
In #453, there is a new dark blue border which in the designs surrounds the title, links, tags, and body sections.

There wasn't an example in the designs of where the video should sit if it available in relation to the border.

@ellemindwave @sarahwelton should this be inside the new dark blue border or underneath it?

Here's how it looks underneath the border:

![image](https://user-images.githu

[2017-07-07 11:07] ellemindwave commented on #466
@katbow Please can the video be within the blue border? Thanks

[2017-07-07 11:31] Cleop opened #467 "Increase top padding to make room for BETA banner"
Relates to #446
<img src="https://user-images.githubusercontent.com/16775804/27956106-37e5e9e2-6310-11e7-9cdc-96e5fa8e8195.png" width=110px />

- [x] Increase top padding to make room for BETA banner

[2017-07-07 11:40] Cleop opened #468 "Banners: give '>' pointer class so cursor indicates it's a clickable link"
Relates #445

- [x] On the sleep/ crisis banners: give '>' pointer class so cursor indicates it's a clickable link instead of the text editing cursor.

[2017-07-07 12:12] Cleop opened #471 "Reduce padding on resources underneath body text"
![image](https://user-images.githubusercontent.com/16775804/27957319-dffe7fc2-6315-11e7-8626-257f3b00dd8e.png)

- [x] Reduce padding on resources underneath body text to closer match new designs

[2017-07-07 12:19] katbow opened #472 "Change white plus to blue plus"
The filters should now use a blue plus instead of a white plus in the search section

waiting on asset

for #451

[2017-07-07 12:20] katbow commented on #451
@ellemindwave @sarahwelton the only thing not done for this section is the white to blue plus. I have added it to a separate issue however, so this can be closed in lieu of that one if you are happy with everything else 👍

[2017-07-07 12:23] Cleop opened #473 "Copy doesn't fit into mobile search box"
The new copy from the designs doesn't fit into the search box on mobile:
<img src="https://user-images.githubusercontent.com/16775804/27957588-fd6c7e14-6316-11e7-94db-84c1b6aeba0a.png" width=200px />
To fit it must be 12px on iPhone 5, which would not pass our accessibility requirements:
<img src="https://user-images.githubusercontent.com/16775804/27957727-9ec9977e-6317-11e7-8db1-62772aa74b2b.png"

[2017-07-07 12:30] sarahwelton commented on #444
<img width="1564" alt="screen shot 2017-07-07 at 13 24 58" src="https://user-images.githubusercontent.com/26305143/27957766-cd42f780-6317-11e7-826b-50cb69094763.png">

If you scroll down and then scroll back up, this happens.

[2017-07-07 12:46] sarahwelton commented on #473
"enter search term" < makes more sense for screen readers out of context as well.

[2017-07-07 13:37] katbow opened #474 "Demo feedback"
**Beta banner**
- [x] Apply shadow on bottom (same as shadow around bottom part of resources)

**Search section**
- [x] Change "I am..." text
- [x] Change placeholder text to "Enter search term" #473
    * ~done for search section, verifying if both need changing~ done for both
- [x] Increase opacity for search box

**Pros/cons**
- [x] On mobile, align text on the left with the body/title etc

**I

[2017-07-07 13:41] #448 closed

[2017-07-07 13:41] #449 closed

[2017-07-07 13:42] #451 closed

[2017-07-07 13:44] #443 closed

[2017-07-07 13:47] #453 closed

[2017-07-07 13:47] #454 closed

[2017-07-07 13:47] #447 closed

[2017-07-07 13:48] #446 closed

[2017-07-07 13:49] #445 closed

[2017-07-07 13:50] #452 closed

[2017-07-07 13:51] #444 closed

[2017-07-07 13:52] #466 closed

[2017-07-07 13:52] #467 closed

[2017-07-07 14:09] katbow commented on #473
@sarahwelton can you confirm if you would like that changed for both search inputs? Or should the one at the top stay as "What do you need support with?"

[2017-07-07 14:29] ellemindwave commented on #473
@sarahwelton is currently in a meeting, but I think she meant for both search inputs, to make it clear for those using screen readers.

[2017-07-07 14:36] katbow commented on #473
Okay great. Thanks @ellemindwave

[2017-07-07 14:39] #468 closed

[2017-07-07 14:40] #471 closed

[2017-07-07 14:42] #326 closed

[2017-07-07 14:42] #364 closed

[2017-07-07 14:42] #324 closed

[2017-07-07 14:56] katbow commented on #474
@ellemindwave @sarahwelton - you mentioned in the demo changing the "I am..." text in the search section. Can you let me know please what to change it to?

[2017-07-07 15:39] ellemindwave commented on #474
@katbow Sarah is on the tube, just tried calling her!  I take it it's not possible to make this content manageable in the time we have today?

I _think_ Sarah wanted it to be 'I am or I know someone who is...'
but will have to get her to confirm @sarahwelton

If she doesn't respond in time this evening, then leaving it and making it a point in next sprint to make that editable in the CMS would pro

[2017-07-07 15:47] ellemindwave commented on #474
@katbow UPDATED info.

Sarah would like:

'I am, or someone I know, is feeling:'

[2017-07-10 09:28] ellemindwave commented on #474
@katbow All of these ready to go, but the logo doesn't seem to be loading on mobile or desktop on Chrome....?

![screen shot 2017-07-10 at 10 26 59](https://user-images.githubusercontent.com/26304634/28011457-5a746bd6-655a-11e7-8637-e818ded4420a.png)

[2017-07-10 09:53] shouston3 commented on #474
@ellemindwave should be fixed now: https://ldmw-app-staging.herokuapp.com/

[2017-07-10 10:03] ellemindwave commented on #474
Great, thanks @shouston3

[2017-07-10 11:15] #474 closed

[2017-07-10 11:16] #473 closed

[2017-07-11 13:47] sarahwelton commented on #433
<img width="438" alt="screen shot 2017-07-11 at 14 47 20" src="https://user-images.githubusercontent.com/26305143/28071451-dfb92456-6647-11e7-9c46-0acb5a60f7f5.png">

Alignment is out on the resources

[2017-07-11 13:49] sarahwelton commented on #452
<img width="438" alt="screen shot 2017-07-11 at 14 47 20" src="https://user-images.githubusercontent.com/26305143/28071503-0968a100-6648-11e7-98a8-814749dc4b74.png">

Alignment is off here (have posted in the "epic" as well)

[2017-07-13 09:17] shouston3 commented on #434
This has now been resolved and we've worked on preventative steps for the future.

[2017-07-13 09:17] #434 closed

[2017-07-13 09:20] Danwhy opened #478 "Tests for high levels of data"
We should write some tests to ensure our queries can handle pulling large amounts of data from postgres without timing out/crashing.

[2017-07-13 09:36] shouston3 commented on #435
The site can go down when someone links to a resource and then that resource gets deleted.

[2017-07-13 15:22] Danwhy commented on #464
@sarahwelton This was a bug occurring with tags that had more than one word. It should be fixed on staging now, so if you can confirm, I can get this deployed first thing Monday morning so you can use it to get the static HTML pages.

[2017-07-13 15:28] ellemindwave opened #480 "Static HTML landing pages"

[2017-07-14 09:28] Cleop opened #481 "Update deployment plan"
- [x] Open new issues for any new tasks to improve the deployment plan that are yet to be done
- [x] Update the deployment plan for the new tech build
- [x] Update the employment plan to say 'BETA'
- [x] Add sections on sprint demo time periods and deployment time periods to the deployment plan

[2017-07-14 11:42] reddog opened #482 "Move required UI / functionality from Phoenix to Wagtail (retire Phoenix layer)"
As discussed yesterday at a group meeting, the project is (and continues to look for the foreseeable future) _like_ a CMS.  The Phoenix layer was predominantly introduced to facilitate direct peer-to-peer communication (over and above a regular forum, for instance) which is not a project requirement.  Increased use of _regular_ Wagtail functionality is a long term requirement.

The decision was ta

[2017-07-14 11:43] reddog commented on #478
@Danwhy Is this still required given #482 ?

[2017-07-14 11:50] reddog commented on #436
@shouston3 Will this still be an issue post #482 ?

[2017-07-14 11:51] reddog commented on #435
@shouston3 Appreciate you've done the work for this, but given #482 should it still be deployed?

[2017-07-14 11:52] reddog commented on #430
@iteles Just doing some issues pruning - can this be closed now?

[2017-07-14 11:54] sarahwelton commented on #464
Hey guys,

This still isn't working properly... Have attached some screenshots for examples

![screen shot 2017-07-14 at 12 53 15](https://user-images.githubusercontent.com/26305143/28211254-8cc1194a-6893-11e7-8987-598e7c7ec143.png)
![screen shot 2017-07-14 at 12 53 24](https://user-images.githubusercontent.com/26305143/28211253-8cc0fea6-6893-11e7-98c0-20b58f87747b.png)

[2017-07-14 12:01] shouston3 commented on #435
Should be fixed with #482

[2017-07-14 12:01] #435 closed

[2017-07-14 12:01] shouston3 commented on #436
No longer required due to #482

[2017-07-14 12:01] #436 closed

[2017-07-14 12:02] Danwhy commented on #464
Hi @sarahwelton I think there were no resources with those tags on staging. I've added a couple with the tags 'long term solution', 'sleep deprivation' and 'how to talk to others'

[2017-07-14 12:03] Danwhy commented on #478
Probably not, we'll review it on Monday/Tuesday to make sure though.

[2017-07-17 09:42] shouston3 opened #483 "Migrate from Phoenix to Django"
Overall high level plan:
- [ ] Consider what rearchitechuring some of the ways we are storing our data in wagtail #486
- [ ] Copy data to new wagtail instance #487
- [ ] Transfer over templates
- [ ] Set up non static routes in python
  - [ ] Set up google sheets logic in python
  - [ ] Set up search logic in python (consider elastic search)
  - [ ] Storing likes data in our database
  - [ ] Stori

[2017-07-17 09:50] shouston3 commented on #482
1. User view from wagtail instance has absolutely nothing on it at the moment, see here: https://ldmw-cms-staging.herokuapp.com/
2. The front-end UI code should almost entirely be able to be copied over
3. Very little front-end UI code needs to be rewritten (if any)
4. Only the admin view will stay as it was before, the client view has nothing at the moment, but will have a lot more
5. We're assum

[2017-07-17 09:52] shouston3 commented on #483
The above will be implemented as a pull request into this repo to retain all of the previous issues and work that has been added to this repo

[2017-07-17 11:04] shouston3 opened #486 "Rearchitechuring some of the ways we are storing our data"
From #483

### Resources

We currently have the resource page as the same type as the home page which leaves it with some unused fields.

We are planning to make Resources it's own page type (not a child of the home page) and ensure each resource is a child of the resources page

### Other static pages

The static pages are currently each their own page type, we should decide if we should keep the

[2017-07-17 11:36] sarahwelton commented on #464
I checked for tags that had been used before I searched

[2017-07-17 11:40] sarahwelton commented on #464
Would you be able to push this to production so that I can test more thoroughly? (Bearing in mind that it doesn't work on production at all at the moment and this appears to be better - thanks! )

[2017-07-17 12:00] Danwhy commented on #486
### Resources
Resources as their own page type, which we currently have, is a suitable way to display the resources, we just need to make sure their containing page is structured appropriately, ie: make a resources_index template which is rendered on the homepage, and itself renders all of the individual resources.

Resources should have their tags as they already do, but the top level tags we rec

[2017-07-17 12:04] Danwhy opened #487 "Copying data"
Once we have determined the structure of the data (#486), we need to ensure we can easily copy the data we currently have on the live site to the new wagtail instance. How much the structure of the data changes will determine the method we use for this, but hopefully, with little change to the resources, we should be able to load the majority of the data straight in.

[2017-07-17 12:21] reddog commented on #487
@Danwhy Can you expand a little on why we are creating a new Wagtail instance (requiring the data to be copied over).  Why can't the existing Wagtail instance be used and the various templates/JS/CSS/Python be modified around it?

[2017-07-17 12:25] nelsonic commented on #487
@Danwhy as discussed on the call last week, we need to open an issue to determining `if` we _need_ a `new` Wagtail instance. (_on the surface, I don't see the advantage_)

[2017-07-17 12:40] shouston3 opened #488 "Where should we put the wagtail instance?"
We could create the wagtail instance in this repo (where all of our previous commits, issues, wireframes are)

We could work off the wagtail instance here: https://github.com/ldmw/cms (where the current cms implementation is)

@nelsonic would be a good place to build this?

[2017-07-17 12:45] nelsonic commented on #488
@shouston3 re-using the `cms` repo is a _good_ idea as it minimises disruption to the MWV team.

[2017-07-17 12:56] shouston3 commented on #488
👍 We'll port over our recently opened issues to: https://github.com/LDMW/cms/issues

[2017-07-17 13:01] shouston3 commented on #487
The reason for this was that @Danwhy and I are planning to change how the wagtail data is currently stored to make page nesting make more sense and tagging better organised.

From #488 we'll now work from this set of issues: https://github.com/LDMW/cms/issues and work from our current cms code

[2017-07-17 13:05] shouston3 commented on #483
Moved to here: https://github.com/LDMW/cms/issues/50

[2017-07-17 13:23] shouston3 commented on #488
After a chat with @Danwhy we feel that it doesn't make very much sense to use what we currently have in the cms as the structure will almost entirely change (it was never built to be pulled out easily).

[2017-07-17 13:26] Danwhy commented on #487
Our reasoning for wanting to use a new instance of Wagtail was because the current instance is set up in such a way that it was easy for us to pull data through to Phoenix. This doesn't appear to be the same way we'd structure the app if we were just using Wagtail, which works best with the models/data structured in a certain way.

We could keep the current cms and build on top of it, but it would

[2017-07-17 13:27] shouston3 commented on #488
See reasons [here](https://github.com/LDMW/app/issues/487#issuecomment-315754950)

[2017-07-17 13:42] Danwhy commented on #487
Maybe we should spend an hour or so spiking the proposed changes to the data, as it could turn out to not be as difficult as we think

[2017-07-17 13:46] Danwhy commented on #464
@sarahwelton It's in production now

[2017-07-17 14:18] shouston3 commented on #488
Moving over to cms repo

[2017-07-17 14:18] #488 closed

[2017-07-17 14:20] Danwhy commented on #487
After looking into the wagtail documentation a little more with specific regard to moving/restructuring pages, we've found that moving pages around is fairly simple, so we're going to go with branching off of the current cms repo.

We'll still need to set up a new wagtail instance while we get this ready, as we want to leave both the live and staging site intact until we're ready to switch over, b

[2017-07-17 14:54] nelsonic commented on #487
@Danwhy nice. (_good detective skills!_)
If you weren't _already_ going to take a DB snapshot `before` doing the migration,
please do so and upload a _zipped_ SQL dump file _somewhere_ 😉

[2017-07-17 15:05] nelsonic commented on #483
@shouston3 we still need to capture the _reason_ why we are migrating to _only_ using Wagtail/Django/Python instead of Phoenix/Elixir/Erlang.
we need to have a _clear_ decision from the _product owner_ for this work `before` starting it
otherwise it _looks_ like we are just "_making up work_" to keep "_busy_".

[2017-07-17 15:16] Danwhy commented on #487
:+1: Heroku backs up a SQL file daily, and the last one was five hours age. We also pulled down a json dump of the data, which we used to add the data to the new cms branch.

[2017-07-17 15:41] reddog commented on #483
@nelsonic Wasn't this fully covered during the call on Thursday?  There were a number of relevant comments including your recommendation that based on currently understood project spec (and foreseeable project spec), the Phoenix layer wouldn't add any value to the project and would detract from it (net effect).

[2017-07-17 15:47] reddog commented on #487
Sounds like some really useful research in terms of page structure.  Doing things *the Wagtail way* might mean an easier to understand / support / further develop solution.

Are there any time/effort implications in moving from the structure that was Phoenix-friendly (directly extract data from the database) to *the Wagtail way*?  Seems like there's not from what was said above.

[2017-07-17 15:49] reddog commented on #486
Is there a point where it would be useful for a quick (hand-drawn?!) picture of the current structure vs the new structure?

[2017-07-17 16:16] Danwhy commented on #487
No, I think it was an expected change, so the majority of the time cost has already been spent in looking into how to restructure wagtail. I think that now that we know how to do this, it should make it relatively simple to make the changes we need, and even change them again in the future if necessary.

[2017-07-17 16:49] nelsonic commented on #483
@reddog we _prefer_ to have decisions _precisely recorded_ rather than made _verbally_; much easier to send a link to a stakeholder with supporting detail for a decision than to attempt to re-count a telephone conversation. 👍

[2017-07-17 17:12] reddog commented on #483
@nelsonic Thanks for adding that clarity. To help us get to closely recording the advice you gave, would you be able to summarise that and then the product owner could confirm or otherwise? Our listing down your comments would already be second hand.

[2017-07-17 17:24] reddog opened #489 "Search results un-scrollable/"locked" if filtered and then returned to"
To reproduce:

1. Visit the homepage and perform a regular search, or go direct to here:. http://www.londonminds.co.uk/filter?q=Sleep&#results

2. Click on the `filter` button to open the left hand side filter menu

3. Select a filter option, for example, `sleep deprivation` under `Are you currently experiencing any of the following?`

4. Click `Search` in the filter panel.

5. The newly filtered

[2017-07-18 09:01] Cleop commented on #483
I think it would be best if @ellemindwave, as the product owner, first explains why the proposed change in technology was put forward by the MV team. Then @nelsonic can fill in any gaps with his technical perspective as he did when we discussed the proposal on the call.

[2017-07-18 09:43] reddog commented on #483
@Cleop From my recollection of the group meeting, I don't think that the MV team did propose the change in technology.  A query was raised to understand better why the current technology architecture is in place and if that is the best way to continue.  @nelsonic then replied from a technical architecture perspective - I think that's what we're waiting for a summary of.

[2017-07-18 23:15] nelsonic commented on #483
@reddog  there appears to be a misunderstanding / misinterpretation somewhere ... 😕

My "advice" is to _listen_ to the Product Owner who _rightly_ pointed out
that serving CMS pages through Phoenix adds an _unnecessary_ step
to content publishing/updating which is using developer time in-effectively.

that ends up requiring a "_specialised_" team of developers to maintain/update/extend it.

The _l

[2017-07-19 05:59] nelsonic commented on #483
@reddog  there appears to be a misunderstanding / misinterpretation somewhere ... 😕

My "advice" is to _listen_ to the **Product Owner** who _rightly_ pointed out
that serving CMS pages _through_ Phoenix adds an _unnecessary_ step
to content publishing/updating which is using developer time in-effectively.

to maintain/update/extend it.

that's why we **document** (and test) our work as much as po

[2017-07-19 07:49] reddog commented on #483
@nelsonic Misunderstanding or not (I'll try harder on that front), thanks very much for your replies - I'm certain I wouldn't have captured your input quite as precisely as that.

[2017-07-19 15:22] Cleop commented on #480
@ellemindwave - any update on the progress for this?

[2017-07-20 21:23] iteles commented on #430
@reddog Good spot!

[2017-07-20 21:23] #430 closed

[2017-07-21 18:38] shouston3 commented on #483
We will from now on be working from issues on the cms repository: https://github.com/LDMW/cms

Closing this issue in favour of https://github.com/LDMW/cms/issues/50 to avoid duplicate issues

[2017-07-21 18:38] #483 closed

[2017-07-25 15:18] Cleop commented on #472
@indiamindwave24, would you be able to share the blue plus icon with @shouston3 and @Danwhy? thanks

[2017-07-25 15:21] Cleop commented on #450
@indiamindwave24 - do you have the asset for this? 👍

[2017-07-25 16:10] Cleop commented on #481
Closing as technical issue and now live.

[2017-07-25 16:10] #481 closed

[2017-07-26 15:15] reddog commented on #486
@Danwhy @shouston3 I know we've had a few conversations around how the resources sit within the home page, etc.

Although things might change in the future, are we done with this for the time being, or is there more to come?

[2017-07-26 15:16] reddog commented on #482
Closing in favour of https://github.com/LDMW/cms/issues/50

[2017-07-26 15:16] #482 closed

[2017-07-26 15:18] reddog commented on #478
@Danwhy Are we able to close this now?  If high load is a concern with the Wagtail instance then maybe we could open that separately to be addressed at some point?

[2017-07-26 15:19] reddog commented on #464
@sarahwelton Given that this is in production now, can we consider this particular issue closed and open new issue(s) if there is anything further outstanding?

[2017-07-26 15:19] Danwhy commented on #478
👍 Looks to be good for now, will open a new one if ever necessary

[2017-07-26 15:19] #478 closed

[2017-07-26 15:21] reddog commented on #450
No longer an issue (confirmed with @sarahwelton & @indiamindwave24 ).

[2017-07-26 15:21] #450 closed

[2017-07-26 15:21] Danwhy commented on #486
I think we're done with this now, we've figured out enough about wagtails internal structure that we can be flexible about the structure/change it quite easily if we need to. @shouston3 agree?

[2017-07-26 15:23] reddog commented on #321
@ellemindwave Can you have a go at trying this again from the new Wagtail admin area?

[2017-07-26 15:24] reddog commented on #472
@Cleop As per @indiamindwave24's comments - this should be available in a previous set of resources - let us know if you can't get hold of them.

[2017-07-26 15:25] reddog commented on #113
@ellemindwave Do you think we've done that for this (Phoenix) repo?

[2017-07-26 15:27] reddog commented on #113
@ellemindwave says `yes`!

[2017-07-26 15:27] #113 closed

[2017-07-26 19:05] shouston3 commented on #486
I feel this is done, closing 👍

[2017-07-26 19:05] #486 closed

[2017-08-07 15:23] sarahwelton opened #493 "FYI - example mock ups for future sprints"
Will add detail and individual issues soon - but thought I'd pop here for people's interest for now.
![lm_individual-resource_20170711](https://user-images.githubusercontent.com/26305143/29033324-91429262-7b8c-11e7-854b-c2f73922f206.png)
![lm_individual-resource_disqus_20170711](https://user-images.githubusercontent.com/26305143/29033326-91486912-7b8c-11e7-851a-b4f9c71970fa.png)
![sleep-landingpag

[2017-08-15 15:26] indiamindwave24 commented on #131
![sleep-landingpage_feedback_loop](https://user-images.githubusercontent.com/25007700/29322746-76ce30ee-81d6-11e7-8cc9-44c1724c99f0.png)

[2017-08-15 15:26] indiamindwave24 commented on #131
(just use existing thumbs up and thumbs down)

[2017-08-15 15:42] samhstn commented on #131
@indiamindwave24 moved your designs to https://github.com/LDMW/cms/issues/115

[2017-08-16 08:26] #270 closed

[2017-09-26 14:36] sarahwelton opened #494 "When a user clicks "back" from an individual resource page, they must be taken to the same point on the page that they were previously on"
Not back to the top with the resources closed

[2017-09-26 14:47] sarahwelton opened #495 "Change text when user leaves thumbs up / thumbs down review"
It currently says "suggestion submitted"

It should say "thank you for your feedback"

[2017-09-29 13:35] sarahwelton commented on #464
This got put on hold - we removed the search for a bit. If we are going to re-add it in, then will need lots of re-testing

[2017-10-11 10:47] katerobb opened #496 "Page titles and descriptions for Google search"
@ellemindwave @Danwhy
The page titles and descriptions that I put into Wagtail don't seem to be pulling through / showing up on a Google search. The screen grab attached shows what looks to be the first paragraph on the page rather than the page description... Please can you look into this for me as we need Google to pick up the wagtail page titles and descriptions for SEO. Thanks!

![google searc

[2017-10-11 12:50] ellemindwave commented on #496
This issue has been moved over to the cms repo - should be closed in here but I don't have the option to

[2017-10-11 12:53] #496 closed, assigned to ellemindwave, katerobb